body{
    background-color: #efefef;
}
.main{
    background-color: whitesmoke;
    margin: 30px;
}
.btn-publish{
    float: right;
    margin-bottom: 15px;
}
.media-object{
    height: 40px;
    width: 40px;
}
.text-desc{
    font-size: 12px;
    font-weight: normal;
    color: #999;
}